.boxTitolo {
    float: left;
    width: 100%;
    border: 1.5px solid black;
    height: auto;
}

.titoloArticolo {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.titoloArticolo a:link {
    color: black;
    text-decoration: underline;
}

.titoloArticolo a:visited {
    color: black;
    text-decoration: underline;
}

.boxImmagineTesto {
    float: left;
    width: 100%;
    height: auto;
    border: 1.5px solid black;
    margin-top: 0px;
    text-align: center;
}

.immagineArticolo img {
    float: left;
    width: 15em;
    padding: 5px;
}

.testoArticolo {
    padding-top: 5px;
    text-align: left;
    padding-left: 30%;
}

#more {
    display: none;
}
