
      .Main
    {
        position: relative;
        min-height: 40%;

    }


    #Footer
    {
        background-color: #00ace6;
        color: white;
        position: absolute;
        width: 100%;
        bottom: 0px;
    }

.sinistra {
    float: left;
    padding: 10px;
    width: 25%;
    text-align: left;

}

.sinistra img {
    width: 9%;
    margin-left: 1.5%;
}

.destra {
    float: right;
    padding: 10px;
    width: 33%;
}

.centro {
    padding: 10px;
    margin-left: 33%;
    width: 33%;
}


