.foto {
/* Box che racchiude la galleria di foto*/
padding : 0px;
margin-top : 5px;
width : 100%;
}

.foto img {
/* Anchor dove è collegata la foto*/
width : 300px;
height : 300px;
padding : 0px;
margin : 5px;
background-repeat : no-repeat;
background-position : center;
}

