p.riquadro{border-style: solid;}

  /* bottone da cliccare per leggere di più (parola Calda) */

.sidebar-box {
  max-height: 120px;
  position: relative;
  overflow: hidden;
}
.sidebar-box .leggi-di-piu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0; padding: 30px 0;


  background-image: linear-gradient(to bottom, transparent, black);
}
