* {
    box-sizing:
    border-box;
}

colonna.resize{
    width: 30px;
    height: auto;
}



h2.m10 {
/* Box che racchiude la galleria di foto*/
padding : 0px;
margin-top : 5px;
width : 30%;
white-space : nowrap;
overflow-x : scroll;
border : 1px solid Black;

}
