div.griglia {
display: table;
margin: 20px auto;
}


div.griglia {
display: table-cell;
text-align: center;
}

div.griglia{
width: auto;
max-width: 100%;
}

h2.m10 {
/* Box che racchiude la galleria di foto*/
padding : 0px;
margin-top : 5px;
width : 30%;
white-space : nowrap;
overflow-x : scroll;
border : 1px solid Black;
