body {
    margin:0;
}

.upnav {
  overflow: hidden;
  background-color: #99CBFF;
}

* {
  box-sizing: border-box;
}

.upnav form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background: #000000;
  max-width:300px
}

.upnav form.search button {
  float: right;
  width: 3%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-top: 10px;
}

.upnav form.search button:hover {
  background: #0b7dda;
}

.upnav form.search::after {
  content: "";
  clear: both;
  display: table;
}

.upnav a{
  margin-right: 50px;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav {
  overflow: hidden;
  background-color: #99CBFF;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid blue;
}

.topnav a.active {
  border-bottom: 3px solid blue;
}

.topnav active { /* sottolineatura per le varie pagine */
    color: blue
}
